<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - DevSkill</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/theme/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/theme/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/theme/global_assets/js/main/jquery.min.js"></script>
    <script src="~/theme/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/theme/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/theme/assets/js/app.js"></script>
    <!-- /theme JS files -->

</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-light">

        <!-- Header with logo -->
        <div class="navbar-brand">
            <a href="#" class="d-inline-block">
                <img src="~/theme/global_assets/images/logo_dark.png" alt="">
            </a>
        </div>
        <!-- /header with logo -->
        <!-- Mobile controls -->
        <div class="d-flex d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
        </div>
        <!-- /mobile controls -->
        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="navbar-nav-link">
                        <i class="icon-arrow-left8 mr-2"></i>
                        Admin Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="navbar-nav-link">Text link</a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">Menu</a>

                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Action</a>
                        <a href="#" class="dropdown-item">Another action</a>
                        <a href="#" class="dropdown-item">One more action</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Separate action</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link">Text link</a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link">
                        <i class="icon-bell2"></i>
                        <span class="d-md-none ml-2">Notifications</span>
                        <span class="badge badge-mark border-white"></span>
                    </a>
                </li>

                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <img src="../../../../global_assets/images/image.png" class="rounded-circle mr-2" height="34" alt="">
                        <span>Victoria</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> My profile</a>
                        <a href="#" class="dropdown-item"><i class="icon-coins"></i> My balance</a>
                        <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> Messages <span class="badge badge-pill bg-blue ml-auto">58</span></a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                        <a href="#" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /navbar content -->

    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            @RenderBody()

            <!-- Footer -->
            <partial name="_FooterPartial" />
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

    @RenderSection("Scripts", required: false)
</body>
</html>
