@{
    ViewData["Title"] = "Index";
}

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><a asp-controller="Dashboard" asp-action="Index" asp-area="Admin" class="text-black-50"><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</span></a></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
            <a href="#" class="btn btn-labeled btn-labeled-right bg-primary" onclick="add_edit_Data('')">Add New <b><i class="icon-plus-circle2"></i></b></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <!-- Basic datatable -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Courses</h5>
            <div class="header-elements">
                <div class="list-icons">
                    <a class="list-icons-item" data-action="collapse"></a>
                    <a class="list-icons-item" data-action="reload"></a>
                    <a class="list-icons-item" data-action="remove"></a>
                </div>
            </div>
        </div>

        <div class="card-body">

        </div>

        <table class="table" id="course-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Seat Count</th>
                    <th>Fee</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!-- /basic datatable -->
</div>

<!-- Add or Edit Modal -->
<div id="addOrEditModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrEditModalTitle">Add Course</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body" id="addOrEditModalContent"></div>

        </div>
    </div>
</div>
<!-- Add or Edit Modal -->

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_FormInputScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_SweetAlertScriptsPartial.cshtml" />
    <partial name="~/Views/Bundle/_DatatableScriptsPartial.cshtml" />
    <script src="~/js/project/course.js"></script>
    <script src="~/js/ajax-call.js"></script>

    <script>
        $(function () {
            var url = '@Url.Action("GetCourses", "Courses", new { Area = "Admin" })';
            loadDatatable(url);
        });

        function delete_Data(id) {
            var url = '@Url.Action("Delete", "Courses", new { Area = "Admin" })';
            var paramData = { id: id };
            delete_confirm(url, paramData);
        }

        function add_edit_Data(id) {
            if (id !== null && id !== '') {
                $('#addOrEditModalTitle').text('Edit Course');
            } else {
                $('#addOrEditModalTitle').text('Add Course');
            }

            var url = '@Url.Action("AddOrEdit", "Courses", new { Area = "Admin" })';
            var paramData = { id: id };
            ajaxCallModal(url, paramData, "renderCourseAddOrEditLoad", "GET");
        }

        function renderCourseAddOrEditLoad(data) {
            $("#addOrEditModalContent").html(data);
            $("#addOrEditModal").modal("show");
        }
    </script>
}